<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.bit6.sdk"
  version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Bit6</name>

  <preference name="API_KEY" />
  <preference name="APP_PACKAGE" />

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <platform name="ios">

    <js-module name="Bit6" src="www/ios/Bit6.js">
    <clobbers target="bit6"/>
    </js-module>

    <config-file parent="/*" target="config.xml">
      <feature name="Bit6">
        <param name="ios-package" value="CDVBit6"/>
      </feature>
    </config-file>

    <framework src="libc++.dylib" />
    <framework src="libicucore.dylib"/>
    <framework src="libz.dylib"/>
    <framework src="libsqlite3.dylib"/>
    <framework src="GLKit.framework"/>
    <framework src="lib/ios/Bit6SDK.framework" custom="true"/>

      <framework src="CoreMedia.framework"/>
      <framework src="AudioToolbox.framework"/>
      <framework src="AVFoundation.framework"/>
      <framework src="AssetsLibrary.framework"/>
      <framework src="SystemConfiguration.framework"/>
      <framework src="MediaPlayer.framework"/>
      <framework src="OpenGLES.framework"/>
      <framework src="CoreVideo.framework"/>
      <framework src="QuartzCore.framework"/>
      <framework src="CoreLocation.framework"/>
      <framework src="Security.framework"/>
      <framework src="CFNetwork.framework"/>
      <framework src="Foundation.framework"/>




    <resource-file src="lib/ios/Bit6SDK.framework/Resources/Bit6Resources.bundle" />

    <header-file src="lib/ios/Bit6SDK.framework/Headers/Bit6SDK.h"/>
    <header-file src="lib/ios/Bit6SDK.framework/Headers/Bit6ApplicationManager.h"/>

    <header-file src="src/ios/AppDelegate+bit6.h" />
    <source-file src="src/ios/AppDelegate+bit6.m" compiler-flags="-ObjC" />
    <header-file src="src/ios/CDVBit6.h" />
    <source-file src="src/ios/CDVBit6.m" linker-flags="-stdlib=libc++" />
    <config-file target="*-Info.plist" parent="API_KEY">
      <string>$API_KEY</string>
    </config-file>
  </platform>

  <platform name="android">
   <framework src="lib/android/bit6-sdk" custom="true" />

   <hook type="after_plugin_install" src="scripts/afterinstall.js" />


   <js-module name="Bit6" src="www/android/Bit6.js">
    <clobbers target="bit6"/>
  </js-module>

  <source-file src="src/android/res/values/bit6.xml" target-dir="res/values" />
  <source-file src="src/android/res/values/strings_bit6.xml" target-dir="res/values" />
  <source-file src="src/android/res/layout/activity_incoming_call.xml" target-dir="res/layout" />


  <config-file target="res/values/bit6.xml" parent="/*">
    <string name="app_key">$API_KEY</string>
    <string name="app_package">$APP_PACKAGE</string>
  </config-file>

  <config-file parent="/*" target="res/xml/config.xml">
    <feature name="Bit6"><param name="android-package" value="com.bit6.sdk.plugin.Bit6Plugin" />
  </feature>
</config-file>

<config-file target="AndroidManifest.xml" parent="/manifest">
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
  <uses-permission android:name="android.permission.USE_CREDENTIALS" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.USE_SIP" />
  <uses-permission android:name="android.permission.CONFIGURE_SIP" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.BROADCAST_STICKY" />
  <uses-permission android:name="android.permission.READ_PROFILE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <uses-feature android:name="android.hardware.camera.autofocus" />
  <uses-feature android:name="android.hardware.camera" />

  <permission
    android:name="com.bit6.permission.C2D_MESSAGE"
    android:protectionLevel="signature" />

    <uses-permission android:name="com.bit6.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


  <application android:name="com.bit6.sdk.plugin.Bit6App"/>

  </config-file>

  <config-file target="AndroidManifest.xml" parent="/manifest/application">
    <activity android:name="com.bit6.sdk.ui.InCallActivity"
     android:label="@string/app_name"
     android:configChanges="orientation|screenSize"
     android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
   </activity>

   <activity android:name="com.bit6.sdk.plugin.IncomingCallActivity"
    android:launchMode="singleTop" >
   </activity>

   <provider
    android:name="com.bit6.sdk.Bit6ContentProvider"
    android:authorities="$APP_PACKAGE"
    android:exported="false" />
    <meta-data android:name="com.google.android.gms.version" android:value="6171000" />

    <receiver
      android:name="com.bit6.sdk.gcm.GcmBroadcastReceiver"
      android:permission="com.google.android.c2dm.permission.SEND" >
      <intent-filter>

        <!-- Receives the actual messages. -->
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        <category android:name="com.bit6" />
      </intent-filter>
    </receiver>
    <service android:name=".GcmIntentService" />

   <receiver android:name="com.bit6.sdk.plugin.IncomingCallReceiver" android:enabled="true">
      <intent-filter>
          <action android:name="$APP_PACKAGE.intent.INCOMING_CALL"></action>
      </intent-filter>
  </receiver>
    <service android:name="com.bit6.sdk.gcm.GcmIntentService" />
  </config-file>

    <!--  <source-file src="lib/android/armeabi-v7a/libjingle_peerconnection_so.so" target-dir="libs/armeabi-v7a"/>

      <source-file src="lib/android/android-support-v4.jar" target-dir="libs"/>
      <source-file src="lib/android/bit6-sdk.jar" target-dir="libs"/>
      <source-file src="lib/android/google-play-services.jar" target-dir="libs"/>
      <source-file src="lib/android/libjingle_peerconnection.jar" target-dir="libs"/>
    -->

    <source-file src="src/android/Bit6Plugin.java" target-dir="src/com/bit6/sdk/plugin"/>
    <source-file src="src/android/IncomingMessageReceiver.java" target-dir="src/com/bit6/sdk/plugin"/>
    <source-file src="src/android/IncomingCallActivity.java" target-dir="src/com/bit6/sdk/plugin"/>
    <source-file src="src/android/IncomingCallReceiver.java" target-dir="src/com/bit6/sdk/plugin"/>
    <source-file src="src/android/LifecycleHelper.java" target-dir="src/com/bit6/sdk/plugin"/>
    <source-file src="src/android/Bit6App.java" target-dir="src/com/bit6/sdk/plugin"/>

  </platform>

</plugin>
